In [19]:
import numpy as np
import pandas as pd
import metadpy

In [20]:
df = pd.read_csv("/Users/zhengyuanrui/CNN_MetaCog/data/sub/sub1_metad.csv")
df_cnn = pd.read_csv("/Users/zhengyuanrui/CNN_MetaCog/data/sub/metad_cnn.csv")

In [21]:
df

,stimulus,trials_id,acc,correct_response,decision,rt,decision_2,stim,response,rating
0,../data/img/test/triangle/triangle12_4.png,1,1,Good,好人,1217,正确,1,1,2
1,../data/img/test/triangle/triangle26_3.png,2,1,Good,好人,1246,正确,1,1,2
2,../data/img/test/triangle/triangle82_3.png,3,1,Good,好人,1602,正确,1,1,2
3,../data/img/test/circle/circle34_4.png,4,1,No_info,无信息,1267,正确,0,0,2
4,../data/img/test/triangle/triangle63_1.png,6,0,Good,无信息,1258,错误,1,0,1
...,...,...,...,...,...,...,...,...,...,...
333,../data/img/test/triangle/triangle63_3.png,355,1,Good,好人,1418,正确,1,1,2
334,../data/img/test/square/square44_4.png,356,1,Bad,坏人,1428,错误,0,0,1
335,../data/img/test/circle/circle44_2.png,357,1,No_info,无信息,1549,正确,0,0,2
336,../data/img/test/circle/circle41_2.png,359,1,No_info,无信息,980,正确,0,0,2
337,../data/img/test/triangle/triangle11_5.png,360,1,Good,好人,1362,错误,1,1,1

In [22]:
df_cnn

     Unnamed: 0  stim  acc  response  rating
0             0   0.0  1.0         0       2
1             1   0.0  0.0         0       2
2             2   0.0  1.0         0       2
3             3   0.0  1.0         0       2
4             4   0.0  0.0         0       2
..          ...   ...  ...       ...     ...
355         355   0.0  1.0         0       2
356         356   0.0  1.0         0       2
357         357   1.0  0.0         0       2
358         358   0.0  1.0         0       2
359         359   0.0  1.0         0       2

[360 rows x 5 columns]

In [23]:
from metadpy.utils import trials2counts
nR_S1, nR_S2 = trials2counts(data=df, stimuli="stim", responses="response",accuracy="acc", confidence="rating", nRatings=2)
CNN_nR_S1, CNN_nR_S2 = trials2counts(data=df_cnn, stimuli="stim", responses="response",accuracy="acc", confidence="rating", nRatings=2)

In [24]:
df_cnn

     Unnamed: 0  stim  acc  response  rating
0             0   0.0  1.0         0       2
1             1   0.0  0.0         0       2
2             2   0.0  1.0         0       2
3             3   0.0  1.0         0       2
4             4   0.0  0.0         0       2
..          ...   ...  ...       ...     ...
355         355   0.0  1.0         0       2
356         356   0.0  1.0         0       2
357         357   1.0  0.0         0       2
358         358   0.0  1.0         0       2
359         359   0.0  1.0         0       2

[360 rows x 5 columns]

In [25]:
metadpy.mle.fit_metad(nR_S1=nR_S1, 
                      nR_S2=nR_S2, 
                      nRatings=2
                      )

{'dprime': 1.9983742092753833,
 's': 1,
 'meta_d': 1.702879871358146,
 'm_diff': -0.29549433791723745,
 'm_ratio': 0.8521326303423499,
 'meta_ca': -0.03972259687382499,
 't2ca_rS1': array([-0.62731956]),
 't2ca_rS2': array([0.27666061]),
 'd1': 1.9983742092753833,
 'meta_d1': 1.702879871358146,
 'meta_c1': -0.03972259687382499,
 't2c1_rS1': array([-0.62731956]),
 't2c1_rS2': array([0.27666061]),
 'logL': -177.36048248041638,
 'est_HR2_rS1': [0.7437157516571729],
 'obs_HR2_rS1': [0.745945945945946],
 'est_FAR2_rS1': [0.3733608659428745],
 'obs_FAR2_rS1': [0.35294117647058826],
 'est_HR2_rS2': [0.8816349955205868],
 'obs_HR2_rS2': [0.8775510204081632],
 'est_FAR2_rS2': [0.6218373208547853],
 'obs_FAR2_rS2': [0.631578947368421]}

In [26]:
metadpy.mle.fit_metad(nR_S1=CNN_nR_S1, 
                      nR_S2=CNN_nR_S2, 
                      nRatings=2
                      )

{'dprime': 0.8464936686403837,
 's': 1,
 'meta_d': -1.9928783972192234,
 'm_diff': -2.839372065859607,
 'm_ratio': -2.3542744276163736,
 'meta_ca': -4.013563277042993,
 't2ca_rS1': array([-4.016107]),
 't2ca_rS2': array([-2.37321406]),
 'd1': 0.8464936686403837,
 'meta_d1': -1.9928783972192234,
 'meta_c1': -4.013563277042993,
 't2c1_rS1': array([-4.016107]),
 't2c1_rS2': array([-2.37321406]),
 'logL': -25.204268009065057,
 'est_HR2_rS1': [0.9868662455281685],
 'obs_HR2_rS1': [0.9872881355932204],
 'est_FAR2_rS1': [0.991640342978503],
 'obs_FAR2_rS1': [0.9907407407407407],
 'est_HR2_rS2': [0.9168789378005078],
 'obs_HR2_rS2': [0.9166666666666666],
 'est_FAR2_rS2': [0.9996239579215529],
 'obs_FAR2_rS2': [1.0]}

In [ ]:
CNN_nR_S1

In [ ]:
CNN_nR_S2

In [ ]:
nR_S1

In [ ]:
nR_S2